/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "Lora_Sans";
  src: url(fonts/Lora-SemiBold.ttf);

}

@font-face {
  font-family: "Poppins-Regular-Sans-Serif";
  src: url(fonts/Poppins-Regular.woff)
}

html {
  font-family: "Lora_Sans", serif;
  font-size: 10px;
  
}

h1 {
  font-family: "Poppins-Regular-Sans-Serif", sans-serif;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-family: "Poppins-Regular-Sans-Serif", sans-serif;
  font-size: 3em;
  letter-spacing: 1.5px;
}

p, li {
  line-height: 1.7;
  letter-spacing: 1.5px;
  word-spacing: 1px;
}

section h2+p {
  text-indent: 20px;
}

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 14px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 12px 12px;
}

a:hover, a:focus {
  color: #a34838;
  text-decoration: none;
  
}
a:link, a:visited {
  color: #d3462ddf;
}

a:active {
  color: #a66;
  text-shadow: 0px 0px 1px rgb(134, 10, 10), 0px 0px 2px black;  
}

ul, ol {
  margin: 2rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-alpha;
}

nav ul {
  padding-left: 0;
  margin-top: 0.5rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 1.8rem;
}

nav li a{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover{
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background: #83210fdf;
}